.env
.env-example
.git/
.github
.gitignore
.idea
.pytest_cache
.venv
.vscode
__pycache__/
*.egg-info/
*.py[cod]
build/
dist/
.coverage
.mypy_cache
.pre-commit-config.yaml
.ruff_cache
Dockerfile
kubernetes
docker-compose.yml
docker-compose.test.yml
junk/
kubernetes/
